.signUpForm{
    background-color: white;
    width: 100%;
    height: 90vh;
}

.signUpFormH1{
    font-size: 4vh;
}

.signUpFormForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    width: 100%;
    height: 77vh;
}

.signUpFormInput{
    height: 8%;
    width: 44%;
    text-indent: 4%;
    color: #9E9E9E;
}

.signUpFormButton{
    height: 8%;
    width: 44%;
    background-color: #000033;
    border-color: #000033;
    color: white;
}

.signUpFormText{
    font-size: 1vh;
    color: #9E9E9E;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin: 0;
    text-align: left;
    width: 44%;
}