.aboutMainBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMainBlockH1Container{
    margin-top: 4%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMainBlockH1{
    font-size: 4vh;
}

.aboutMainBlockBlockContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}