.homeCatalogCard{ 
    background-color: white;
    height: 34%;
    width: 24%;
    margin: 4%;
    float: left;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.homeCatalogCardContainer{ 
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeCatalogCardH1{ 
    font-size: 3vh;
    margin: 1%;
    margin-top: 7%;
}

.homeCatalogCardText{ 
    display: inline-block;
    font-size: 1.5vh;
    margin: 4%;
    margin-right: 2%;
}

.homeCatalogCardTextInText{ 
    display: inline-block;
    font-size: 2vh;
    margin: 4%;
    margin-left: 2%;
}

.homeCatalogCardContainerLink{ 
    text-decoration: none;
    width: 69%;
    height: 69%;
    margin: 1%;
    margin-bottom: 13%;
}

.homeCatalogCardButton{ 
    width: 100%;
    height: 100%;
    background-color: #000033;
    border: none;
    color: white;
    font-size: 1.5vh;
    border-radius: 6px;
}