.mainPanelLine{
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top:#F3F4F6;
    border-bottom: white;
    border-right: white;
    border-left: white;
    border-style: solid;
}

.mainPanelLineH1{
    display: inline-block;
    font-size: 1.5vh;
}

.mainPanelLineText{
    display: inline-block;
    font-size: 1.4vh;
}