* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}

.wrapper {
    width: 100%;

    display: flex;
    flex-direction: row; 
    overflow: hidden; 
}

.main{
    width: 87%;
    height: 100%;
}

.sideBackgroundContainer{
    width: 13%;
}