.whyUsBlockCard{
    height: 89%;
    width: 20%;
    float: left;
    margin: 2%;
}

.whyUsBlockCardImg{
    width: 100%;
    height: 54%;
}

.whyUsBlockCardTitle{
    margin: 1%;
}

.whyUsBlockCardDescription{
    color: gray;
}