.header{
    width: 100%;
    height: 10vh;
    margin-bottom: 1%;
}

.headerLeft{
    width: 74%;
    height: 100%;
    display: inline-block;
}

.headerLogoButton{
    float: left;
    width: 44%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 4vh;
    text-align: left;
    margin-left: 4%;
    outline: none;
}

.headerLeftLink{
    text-decoration: none;
}

.headerLeftButtonContainer {
    float: right;
    width: 50%;
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
}

.headerLeftButtonContainerLink{
    text-decoration: none;
}

.headerLeftButton{
    margin-left: 1%;
    margin-right: 1%;
    width: 24%;
    height: 100%;
    background-color: white;
    border: none;
    color: gray;
    font-size: 1.4vh;
}

.headerLeftContactButton {
    margin-left: 1%;
    margin-right: 1%;
    width: 50%;
    height: 100%;
    background-color: white;
    border: none;
    color: gray;
    font-size: 1.5vh;
}

.headerLeftContactButtonText{
    display: inline-block;
    margin: 1%;
}

.headerLeftContactButtonTextInText{
    display: inline-block;
    margin: 1%;
    color: black;
    font-weight: bold;
}

.headerRight{
    width: 25%;
    height: 100%;
    display: inline-block;
}

.headerRightLink{
    text-decoration: none;
}

.headerRightButton{
    float: right;
    margin: 1%;
    width: 44%;
    height: 44%;
    background-color: #837DBA;
    border-color: #837DBA;
    border-radius: 6px;
    margin-top: 6%;
    color: white;
}