.aboutBlock{
    width: 100%;
    height: 72vh;
    background-color: white;
}

.aboutBlockContainer {
    float: left;
    width: 49%;
    height: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.aboutBlockH1{
    color: black;
    font-size: 4vh;
    margin: 4%;
    margin-left: 20%;
    text-align: left;
    font-family: 'Verdana';
}

.aboutBlockText{
    color: gray;
    font-size: 2vh;
    width: 70%;
    margin: 1%;
    text-align: left;
    margin-left: 11%;
}

.aboutBlockLink {
    text-decoration: none;
    width: 25%;
    height: 10%;
    margin: 4%;
}

.aboutBlockButton{
    width: 100%;
    height: 100%; 
    background-color: #000033;
    border: none;
    color: white;
    font-size: 1.5vh;
    border-radius: 6px;
}

.aboutBlockImg{
    float: right;
    width: 49%;
    height: 98%;
}